*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(
    to left top,
    rgb(40, 180, 135),
    rgb(125, 213, 111)
  );
}
.container {
  position: relative;
  width: 40%;
  min-width: 450px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  padding: 50px 40px;

  filter: blur(-1px);
  box-shadow: -5px -5px 20px 10px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  height: 480px;
}
.container * {
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.inputs-wrapper {
  background: #080808;
  padding: 30px 25px;
  border-radius: 8px;
  box-shadow: 0 15px 20px rgb(0, 0, 0, 0.3);
  margin-bottom: 50px;
}
h3 {
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 3px;
}
input,
button {
  height: 50px;
  background: #ffffff;
  color: #080808;
  font-weight: 500;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
}
#reset {
  position: absolute;
  top: 30px;
  height: 30px;
  width: 100px;
  background: rgba(255, 0, 0, 0.87);
  color: #efefef;
  font-size: 15;
  text-shadow: rgb(40, 180, 135);
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.3);
  font-size: 16px;
}
input {
  width: 60%;
  padding: 0 20px;
}

button {
  width: 30%;
  float: right;
}
.outputs-wrapper {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.outputs-wrapper > * {
  height: 120px;
  width: 120px;
  background-color: #080808;
  border-radius: 5px;
  color: #ffffff;
  display: grid;
  place-items: center;
  padding: 20px 0;
  box-shadow: 0 15px 20px rgb(0, 0, 0, 0.3);
}
span {
  font-size: 30px;
  font-weight: 500;
}
p {
  font-size: 14px;
  color: #707070;
  font-weight: 400;
}
#worning {
  margin-top: 30px;
  text-align: center;
  color: #080808;
  font-size: 20px;
  font-weight: 500;
}
