@import "mixins";
@import "variables";
@import "grid";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(
    to left top,
    rgb(40, 180, 135),
    rgb(125, 213, 111)
  );
}
.container {
  position: relative;
  width: 60vw;
  min-width: 450px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  padding: 50px 40px;
  height: 600px;
  filter: blur(-1px);
  box-shadow: -5px -5px 20px 10px rgba(0, 0, 0, 0.2);
  border-radius: 12px;

  @include responsive(phone) {
    width: 70%;
    max-height: 380px;
  }
  @include responsive(tablet) {
    width: 80%;
    height: 500px;
  }
  @include responsive(tab-port) {
    width: 80%;
    height: 550px;
  }
  @include responsive(desktop) {
    width: 80%;
    height: 550px;
  }
  @include responsive(big-desktop) {
    width: 50%;
    height: 600px;
  }
}
.container * {
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.inputs-wrapper {
  background: #080808;
  padding: 30px 25px;
  border-radius: 8px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  margin-bottom: 50px;
  @include responsive(phone) {
    padding: 20px 15px;
    width: 90%;
    margin: 0 auto 50px;
  }
}
h3 {
  margin-bottom: 30px;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 3px;
  @include responsive(phone) {
    font-size: 20px;
    margin-top: 20px;
  }
  @include responsive(tablet) {
    margin-top: 20px;
  }
}
input,
button {
  height: 50px;
  background: #ffffff;
  color: #080808;
  font-weight: 500;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
  @include responsive(phone) {
    font-size: 10px;
    height: 25px;
    width: 100%;
  }
}

#reset {
  position: absolute;
  top: 30px;
  height: 30px;
  width: 100px;
  background: rgba(255, 255, 255, 0.87);
  color: #efefef;
  font-size: 15px;
  color: #080808;
  @include responsive(phone) {
    height: 20px;
    width: 70px;
    top: 20px;
    left: 60px;
    font-size: 10px;
    text-align: center;
  }
  @include responsive(desktop) {
    top: 30px;
  }

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  font-size: 16px;
}
input {
  width: 60%;
  padding: 0 20px;
  @include responsive(phone) {
    width: 55%;
    padding: 0 20px;
  }
}

button {
  width: 30%;
  float: right;
  @include responsive(phone) {
    padding: 0 20px;
    width: 30%;
    margin: 0 auto;
  }
}
.outputs-wrapper {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  @include responsive(phone) {
    width: 80%;
  }
  @include responsive(big-desktop) {
    width: 60%;
  }
}

.outputs-wrapper > * {
  height: 120px;
  width: 120px;
  @include responsive(tablet) {
    height: 60px;
    width: 60px;
  }
  @include responsive(desktop) {
    height: 80px;
    width: 80px;
  }
  @include responsive(big-desktop) {
    height: 150px;
    width: 150px;
  }
  background-color: #080808;
  border-radius: 5px;
  color: #ffffff;
  display: grid;

  place-items: center;
  padding: 20px 0;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}
span {
  font-size: 30px;
  font-weight: 500;
  @include responsive(phone) {
    font-size: 20px;
  }
}
p {
  font-size: 14px;
  color: #707070;
  font-weight: 400;
}
#message {
  margin-top: 60px;
  text-align: center;
  color: #080808;
  font-size: 25px;
  font-weight: 500;
  @include responsive(phone) {
    font-size: 14px;
    margin-top: 20px;
  }
}
